# General
aws_profile           = ""
app_buildspec_path    = "sso/keycloak/.aws/workflows/ci-cd-dev.yml"
app_name              = "keycloak"
app_path              = "sso/keycloak"
github_repo_branch    = "dev"
github_repo_url       = "https://github.com/CQEN-QDCE/ceai-cqen-deployments.git"
system                = "sso"
environment           = "dev"

